<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>欢迎来到范光松的网上商店</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/web-shop.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/slippry.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/slippry/1.4.0/slippry.min.js"></script>
    <link href="//cdn.bootcss.com/slippry/1.4.0/slippry.css" rel="stylesheet">

    <script type="application/javascript">
//        jQuery(document).ready(function () {
//
//            jQuery('#slippry-demo').slippry({
//                slippryWrapper: '<div class="sy-box front-page" />'
//            });
//
//        })
    </script>

</head>

<body>

<!--<header class="main-header" style="background-image:url('../static/images/slider1.jpg')">-->

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-12">-->

<!--<h1><span class="hide">Laravel - </span>Focuson运动网</h1>-->
<!--<h2 class="hide">PHP THAT DOESN'T HURT. CODE HAPPY &amp; ENJOY THE FRESH AIR.</h2>-->

<!--<img src="../static/images/slider1.jpg" alt="Laravel" class="hide">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</header>-->

<div class="header">
    <div class="top-header">
        <div class="wrap">
            <div class="top-header-left">
                <ul>
                    <li style="color: white">欢迎来到焦距</li>
                </ul>
            </div>

            <div class="top-header-center">

            </div>

            <div class="top-header-right">
                <ul>
                    <li>
                        <a href="#contact"><span>联系我们</span></a>
                    </li>
                    <li>
                        <div style="color: white"><span class="cart"></span><a href="cart.html">&nbsp;购物车</a></div>
                    </li>
                    <li>
                        <a href="login.html"><span>我的聚焦</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="test">
</div>
<!--<div class="img-slider">-->
<!--<div class="wrap">-->
<!--<ul id="slippry-demo">-->
<!--<li>-->
<!--<a href="#slide1">-->
<!--<img src="images/slide-1.jpg" alt="" />-->
<!--</a>-->
<!--<div class="slider-detils">-->
<!--<h3>MENS FOOT BALL <label>BOOTS</label></h3>-->
<!--<span>Stay true to your team all day, every day, game day.</span>-->
<!--<a class="slide-btn" href="details.html"> Shop Now</a>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#slide2">-->
<!--<img src="images/slide-4.jpg"  alt="" />-->
<!--</a>-->
<!--<div class="slider-detils">-->
<!--<h3>MENS FOOT BALL <label>BOOTS</label></h3>-->
<!--<span>Stay true to your team all day, every day, game day.</span>-->
<!--<a class="slide-btn" href="details.html"> Shop Now</a>-->
<!--</div>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#slide3">-->
<!--<img src="images/slide-1.jpg" alt="" />-->
<!--</a>-->
<!--<div class="slider-detils">-->
<!--<h3>MENS FOOT BALL <label>BOOTS</label></h3>-->
<!--<span>Stay true to your team all day, every day, game day.</span>-->
<!--<a class="slide-btn" href="details.html"> Shop Now</a>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->


<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#">Brand</a>-->
<!--</div>-->
<!--</div>-->

<!--</nav>-->
<!--<hr style='height:5px;border:none;border-top:5px ridge green;'/>-->
<!--<p align='center'>欢迎来到第一个hibernate项目</p>-->
<!--<hr style='height:5px;border:none;border-top:5px ridge green;'/>-->
</body>
</html>
